/* Place CSS styles here */

/* Styling :) */

.batman-qoute {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin-left: 50px;
    text-align: center;
    padding-top: 50px;
}

body {
    background-image: url("https://i.pinimg.com/originals/42/42/85/4242852ca558670e2a4963f78aec2502.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }

/* Enter Page */

.intro {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #19213e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120px;
    font-weight: 700;
    color: white;
    border: 8px solid white;
    border-radius: 9999px;
    padding: 40px 80px;
    cursor: pointer;
}

.intro-text:hover {
    background-color: rgb(0, 0, 0);
    color: #FDE311;
}


/* keyframes for enter page */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

/* animation for enter page */
.fade-in {
    animation: fadeIn 2s ease forwards;
}

.fade-out {
    animation: fadeOut 2s ease forwards;
}

.fade-in-out {
    animation: fadeIn 1s ease, fadeOut 2s ease 3s;
}

/* image wrappers */

.signal-img {
    transform: translate(100px, -130px) scale(1);
    width: 100px;
}

.red-hood-img {
    transform: translate(40px, -580px) scale(1);
    width: 100px;
}

.lego-batman-img {
    transform: translate(700px, -500px) scale(1);
    width: 100px;
}

.signal-img,
.red-hood-img,
.lego-batman-img {
    opacity: 0;
    transition: all 1.5s ease;
}

.entered .signal-img,
.entered .red-hood-img,
.entered .lego-batman-img {
    opacity: 1;
}

/* animation for images */
@keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

.The-signal-wrapper:hvr-buzz-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}